doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Карточки
    link(rel="stylesheet", href="/bundle.css")
  body.default-layout
    header.header
      a.header__logo
        img(src='/images/logo.svg', alt='logo')
      nav.header__menu
        ul.header__menu-list
          li.header__menu-list-item
            a.header__menu-link(href='#') Home
          li.header__menu-list-item
            a.header__menu-link(href='#') About
          li.header__menu-list-item
            a.header__menu-link(href='#') Contacts
    div.cards-list
      article.card
        .card__image
          img(src='/images/card.svg', alt="")
        .card__content
          .card__title Заголовок карточки 1
          .card__text Текст карточки 1
      article.card
        .card__image
          img(src='/images/card.svg', alt="")
        .card__content
          .card__title Заголовок карточки 2
          .card__text Текст карточки 2
      article.card
        .card__image
          img(src='/images/card.svg', alt="")
        .card__content
          .card__title Заголовок карточки 3
          .card__text Текст карточки 3
    footer.footer
      p.footer__text © VЁRSTKA
    