header.header
  a.header__logo
    img(src='/images/logo.svg', alt='logo')
  nav.header__menu
    ul.header__menu-list
      li.header__menu-list-item
        a.header__menu-link(href='#') Home
      li.header__menu-list-item
        a.header__menu-link(href='#') About
      li.header__menu-list-item
        a.header__menu-link(href='#') Contacts